build/libraries/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.d
build/libraries/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.o
build/libraries/Adafruit_BusIO/Adafruit_I2CDevice.cpp.d
build/libraries/Adafruit_BusIO/Adafruit_I2CDevice.cpp.o
build/libraries/Adafruit_BusIO/Adafruit_SPIDevice.cpp.d
build/libraries/Adafruit_BusIO/Adafruit_SPIDevice.cpp.o
build/libraries/Adafruit_GFX_Library/Adafruit_GFX.cpp.d
build/libraries/Adafruit_GFX_Library/Adafruit_GFX.cpp.o
build/libraries/Adafruit_GFX_Library/Adafruit_GrayOLED.cpp.d
build/libraries/Adafruit_GFX_Library/Adafruit_GrayOLED.cpp.o
build/libraries/Adafruit_GFX_Library/Adafruit_SPITFT.cpp.d
build/libraries/Adafruit_GFX_Library/Adafruit_SPITFT.cpp.o
build/libraries/Adafruit_GFX_Library/glcdfont.c.d
build/libraries/Adafruit_GFX_Library/glcdfont.c.o
build/libraries/Adafruit_GFX_Library_Modified/Adafruit_GFX_Modified.cpp.d
build/libraries/Adafruit_GFX_Library_Modified/Adafruit_GFX_Modified.cpp.o
build/libraries/Adafruit_GFX_Library_Modified/Adafruit_GrayOLED.cpp.d
build/libraries/Adafruit_GFX_Library_Modified/Adafruit_GrayOLED.cpp.o
build/libraries/Adafruit_GFX_Library_Modified/Adafruit_SPITFT.cpp.d
build/libraries/Adafruit_GFX_Library_Modified/Adafruit_SPITFT.cpp.o
build/libraries/Adafruit_GFX_Library_Modified/glcdfont.c.d
build/libraries/Adafruit_GFX_Library_Modified/glcdfont.c.o
build/libraries/Adafruit_SSD1306/Adafruit_SSD1306.cpp.d
build/libraries/Adafruit_SSD1306/Adafruit_SSD1306.cpp.o
build/libraries/Adafruit_SSD1306_Modified/Adafruit_SSD1306_Modified.cpp.d
build/libraries/Adafruit_SSD1306_Modified/Adafruit_SSD1306_Modified.cpp.o
build/libraries/Encoder/Encoder.cpp.d
build/libraries/Encoder/Encoder.cpp.o
build/libraries/SPI/SPI.cpp.d
build/libraries/SPI/SPI.cpp.o
build/libraries/Wire/Wire.cpp.d
build/libraries/Wire/Wire.cpp.o
build/libraries/Wire/utility/twi.c.d
build/libraries/Wire/utility/twi.c.o
build/preproc/ctags_target_for_gcc_minus_e.cpp
build/sketch/main.ino.cpp
build/sketch/main.ino.cpp.d
build/sketch/main.ino.cpp.o
build/sketch/setup_lcd.h
build/sketch/setup.h
build/.last-used
build/build.options.json
build/compile_commands.json
build/includes.cache
build/libraries.cache
build/main.ino.eep
build/main.ino.elf
build/main.ino.hex
build/main.ino.with_bootloader.bin
build/main.ino.with_bootloader.hex
.vscode/c_cpp_properties.json
.vscode/arduino.json
build/libraries/DS3231/DS3231.cpp.d
build/libraries/DS3231/DS3231.cpp.o
build/sketch/encoderOledControl.h
build/
